* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #000;
}

.header {
    display: flex;
    justify-content: center;
    padding: 28px 0;
    background-color: #000;
}

.header-logo {
    display: block;
}

.cover-image {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.top-infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 92px 0 188px;
}

.top-infocard-content {
    max-width: 766px;
    text-align: center;
}

.top-infocard-subtitle {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 32px;
}

.top-infocard-title {
    margin-bottom: 24px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 48px;
}

.top-infocard-paragraph {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 80px;
    text-align: left;
}

.top-cards {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 20px;
    justify-content: center;
    padding-bottom: 80px;
}

.top-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 26px 28px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-card-image {
    display: block;
    margin-bottom: 28px;
}

.top-card-paragraph {
    max-width: 300px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;

}

.top-images-wrapper {
    background: #E0E0E0;
}

.top-images {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, max-content));
    gap: 2%;
    padding: 64px 5% 138px;
    justify-content: center;
    max-height: 442px;
    position: relative;
    top: 10px;
}

.top-image {
    display: block;
    max-width: 100%;
}

.bottom-cards {
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 16px;
    justify-content: center;
    padding-top: 280px;
    padding-bottom: 138px;
}

.bottom-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px 32px 65px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.bottom-card-image {
    display: block;
    margin-bottom: 14px;
}
.bottom-card-paragraph {
    max-width: 367px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.bottom-infocard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 104px;
}

.bottom-infocard-content {
    max-width: 550px;
    margin: 0px 10px 0px 10px;
    text-align: center;
    color: #000000;
}

.bottom-infocard-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 20px;
    padding-bottom: 18px;
}

.bottom-infocard-paragraph {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 32px;
}

.bottom-infocard-image {
    display: block;
    max-width: 100%;
}

.bottom-infocard-image-desktop {
    padding: 0px 10px 0px 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 38px 0px;
    background-color: #000;
}

.footer-icons {
    display: flex;
    gap: 16px;
    margin-bottom: 16px;
    list-style: none;
}

.footer-text {
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #BDBDBD;
}

@media screen and (max-width: 413px) {
    .cover-image-desktop, .top-image-desktop, .bottom-infocard-image-desktop {
        display: none;
    }

    .top-infocard-image {
        max-width: 239px;
    }

    .top-infocard-paragraph {
        text-align: center;
    }

    .top-images {
        grid-template-columns: repeat(2, 1fr);
        padding: 32px 22px 80px;
        column-gap: 14px;
        row-gap: 24px;
        max-height: 484px;
        position: relative;
        top: 0px;

    }

    .bottom-cards {
        padding-top: 202px;
        padding-bottom: 80px;
    }

    .bottom-infocard-title {
        font-size: 24px;
    }
    
    .bottom-infocard-paragraph {
        font-size: 16px;
        line-height: 24px;
        padding-bottom: 0px;
    }

    .bottom-infocard-image {
        padding-bottom: 50px;
    }
}

@media screen and (min-width: 414px) {
    .cover-image-mobile, .top-image-mobile, .bottom-infocard-image-mobile {
        display: none;
    }
}


@media screen and (min-width: 414px) and (max-width: 768px) {
    .top-images {
        grid-template-columns: repeat(2, 1fr);
        padding: 32px 5% 80px;
        column-gap: 14px;
        row-gap: 24px;
        justify-items: center;
    }

    .top-images-wrapper {
        padding-bottom: 202px;
    }
}

@media screen and (max-width: 768px) {
    .top-infocard {
        padding: 83px 0 80px;
    }

    .top-infocard-subtitle {
        font-size: 20px;
    }
  
    .top-infocard-title {
        margin-bottom: 19px;
        font-size: 28px;
    }

    .top-infocard-paragraph {
        font-size: 16px;
        line-height: 24px;
        padding: 0px 30px;
        margin-bottom: 68px;
    }

    .top-cards {
        grid-template-columns: 1fr;
        gap: 24px;
        padding-right: 32px;
        padding-left: 32px;
    }

    .top-image-bigger {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .footer {
        padding-bottom: 26px;
    }

    .footer-text {
        max-width: 280px;
    }

}

@media screen and (max-width: 920px) {
    .bottom-cards {
        grid-template-columns: 1fr;
        padding-right: 22px;
        padding-left: 22px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .top-cards {
        grid-template-columns: repeat(2, max-content);
    }

}
@media screen and (min-width: 921px) and (max-width: 1800px) {
    .bottom-cards {
        grid-template-columns: repeat(2, max-content);
    }
}